body#background {
  background: url('Water10.jpg') no-repeat 50% 50% fixed; 
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
} 

#main {
	position: absolute;
	height: 30vh;
	width: 60vw;
	left: 20%;
	bottom: 40%;

}

h1 {
	text-align: center;
	font-family: Century;
	font-weight: 200;
	font-size: 8.3359375vmin;
	color: #ffffff;
	text-transform: uppercase;
}

.about {
	position: absolute;
	padding: 8px 20px;	
	left: 25%;
	font-size: 2.5vmax;
	border: 2px solid white;
	background-color: transparent;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Garamond, Century, serif;
}


.work {
	position: absolute;
	left: 55%;
	padding: 8px 20px;	
	font-size: 2.5vmax;
	border: 2px solid white;
	background-color: transparent;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Garamond, Century, serif;	
}

