 #headerbox {
	text-align: center;
	margin: auto;
	position: static;
}

#headerbox a {
	text-decoration: none;
	color: black;
	font-size: 1.5vw;
	font-family: Century;
	text-transform: uppercase;
}

#headerbox a:hover {
	color: #707070;
}

p.header {
	word-spacing: 20px;
}

img {
	width:250px;
	height:250px;
	margin-top:20px;
	margin-bottom:20px;
	opacity: 0.75;
}

table.table1, td {
	margin-top:50px;
	margin-bottom:50px;
}

 table.table1 {
    width:70%; 
    margin-left:15%; 
    margin-right:15%;
 }

 #footerbox {
	text-align: center;
	margin: auto;
	position: static;
}

#footerbox a {
	text-decoration: none;
	color: black;
	font-size: 1.5vw;
	font-family: Century;
	text-transform: uppercase;
}

#footerbox a:hover {
	color: #707070;
}

p.footer {
	word-spacing: 20px;
}